body{
    background-color: #1b5e20;
}
#nametext{
    height: 70px;
    width: 80%;
    font-size: 300%;
    text-align-last:center;
    background-color: #388e3c;
    color: white;
    border-radius: 5%;
    border-color: black;
}
#add{
    height: 70px;
    width:19%;
    font-size: 250%;
    float: right; 
    background-color:#4caf50; 
    border-radius: 10%;
    border-color: black;
}
#rangsor{
    font-size: 200%;
    text-align: justify;
    text-justify: inter-word;
    color:white;
}
.vezerlo{
    color:white;
    position: fixed;
    bottom: 0;
    height: 130px;
    width: 33.3333%;
    text-align: center;
    font-size: 600%;
    background-color:#388e3c;
    border-color: black;
    border-radius: 10%;
}
.mine{
    background-color: #40b144;
}